*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
    background-image: linear-gradient(to bottom right, #99ff99 0%,#ffff99 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
html{
    --bg: #e9eef4;
    --color-text: #0e0e0e;
    --color-border: #bcbfc2;
    --btn-active: #bcbfc2;
}
/*for dark mode*/
html[data-theme="dark"]{
   --bg: #2d2e2f;
   --color-text: #fff;
   --color-border: #6c7073;
   --btn-active: #424548;
}
/*Heading*/
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem .4rem;
}

.heading span {
    color: var(--color-text);
    font-size: 1.3rem;
}

.fas {
    cursor: pointer;
}

label input[type="checkbox"]{
    -webkit-appearance: none;
}

/*main*/
.calculator{
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 20fr;
    padding: 4rem 0;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
.display{
    display: inline-grid;
    grid-template-columns: auto auto; 
}

/*screen*/
#myText{
text-align: right;
padding: .5rem 1rem 0rem;
font-size: 1.8rem;
color: var(--color-text);
background: var(--bg);
white-space: nowrap;
overflow-y: hidden;
overflow-x: auto;
}

/*clear*/
#clr{
    border: none;
    width: 70px;
    height: auto;
    font-size: 2rem;
    color: var(--color-text);
    background: var(--bg);
    outline: none;
    cursor: pointer;
} 
#clr:active {
    background: var(--btn-active);
    cursor: pointer;
}
/*button*/
.button{
    border-top: 1px solid var(--color-border);
    display: grid;
    grid-template-columns: 5fr 1fr;
}

/*numeral input*/
.numip{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 112px);
    background: var(--bg);
    border-right: 1px solid var(--color-border);
}

.btn{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: var(--color-text);
    background: var(--bg);
    outline: none;
    cursor: pointer;
}


.btn:active {
    background: var(--btn-active);
    cursor: pointer;
}

/*operation input*/
.ops{
    border: none;
display: grid;
grid-template-rows: auto auto auto auto;
background: var(--bg);
}

.expand{
    display: grid;
    background: var(--bg);
    border-right: 1px solid var(--color-border);
    }